/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2018, 3:53:58 PM
    Author     : ranjith-suranga
*/

#imgHome:hover{
    -fx-effect: dropshadow(gaussian,#6495ED,20,0.0,0,0);
}

#btnAdd{
    -fx-background-color: #218838;
    -fx-text-fill: white;
}

#btnRemove{
    -fx-background-color: #ffc107;
}

#btnPlaceOrder{
    -fx-background-color: #6495ED;
    -fx-text-fill: white;
}

.table-row-cell:selected{
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%, white 0%, #007bff 50%, white 100%);
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: black !important;
}

